Makefile
Makefile.in

.deps/
.libs/
*.o
*.lo
*.la
*~

/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.lineno
/depcomp
/install-sh
/libtool
/m4/*
/build-aux/*
/missing
/stamp-h1


/src/main
/tests/check_colibri

GPATH
GRTAGS
GSYMS
GTAGS
